out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.DS_Store
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
target/
logs/
lib/
project/project
project/target
.history
.classpath
.project
RUNNING_PID
.settings
